.bg-ipld-dark-blue {
  background-color: #1D74F2;
}

/* From https://github.com/ipld/website */
.open-sans {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}
.ipld-dark-gray {
  color: #515561;
}
.ipld-gray {
  color: #5A626E;
}
.ipld-light-gray {
  color: #97A1AF;
}
.bg-ipld-blue {
  background-color: #DEEDFF;
}
